/* Body styling with background color */
body, html {
    margin: 0;
    height: auto;
    font-family: 'Helvetica', sans-serif;
    background-color: #e1ad01;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

.intro-section {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation grid */
.navigation-section {
  height: 100vh;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
}

.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.nav-item img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.nav-item:hover img {
    filter: grayscale(100%);
    transform: scale(0.95);
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.text-wrapper {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.nav-item p, .nav-item .learn-more {
    transition: opacity 0.3s;
    display: block;
    position: absolute;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.nav-item .learn-more {
    visibility: hidden; /* Hidden by default */
    opacity: 0; /* Fully transparent by default */
}

.nav-item:hover p {
    visibility: hidden; /* Hide on hover */
    opacity: 0; /* Fade out */
}

.nav-item:hover .learn-more {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in */
}

@media screen and (min-width: 768px) {
    .navigation-section {
        padding-top: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
}
