/* Body styling with background color */
body, html {
    margin: 0;
    height: auto;
    font-family: 'Helvetica', sans-serif;
    background-color: #ffdb88;
}

.h1-special {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    font-style: italic;
    color: #724f00;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px; 
}

p {
    text-align: center;
}

.intro-section {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation grid */
.navigation-section {
    height: 100vh;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);  /* three rows on mobile */
    align-content: space-between;
}

.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.nav-item img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.nav-item:hover img {
    filter: grayscale(100%);
    transform: scale(0.95);
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.text-wrapper {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 24px; /* Set a fixed height */
}

.nav-item p, .nav-item .learn-more {
    transition: opacity 0.3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    line-height: 24px; /* Ensure consistent line height */
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    font-style: italic;
    color: #724f00;
    font-size: 24px;
}

.nav-item .learn-more {
    visibility: hidden; /* Hidden by default */
    opacity: 0; /* Fully transparent by default */
}

.nav-item:hover p {
    visibility: hidden; /* Hide on hover */
    opacity: 0; /* Fade out */
}

.nav-item:hover .learn-more {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in */
}

@media screen and (min-width: 768px) {
    .navigation-section {
        padding-top: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); /* two rows for desktop */
    }
}

.nav-item p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #724f00;
    letter-spacing: -2px;
    font-size: 24px;
    line-height: 24px; /* Match this to the font size for proper alignment */
}
.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px; /* Adjust this value to increase space between text and the arrow */
}

.vertical-line {
    width: 2px;
    height: 100px;
    background-color: #724f00; /* Adjust the color to match your theme */
}

.arrow-down {
    font-size: 26px; /* Adjust the size of the arrow */
    color: #724f00; /* Adjust the color to match your theme */
    transform: scaleX(1.75); /* Adjust the scale to make it wider */
    font-weight: 100;
}
