/* Body styling with background color */
body, html {
    height: auto;
    background-color: #e1ad01;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px; /* Some space between title and subtitle */
}

.intro-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px; /* Add padding for mobile */
}

p {
    text-align: center;
}

/* Navigation grid */
.navigation-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-item img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.nav-item:hover img {
    filter: grayscale(100%);
    transform: scale(0.95);
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:hover p {
    opacity: 0;
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .navigation-section {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
        padding-top: 40px;
    }
}
