body {
    font-family: 'Helvetica', sans-serif;
    background-color: #ffdb88;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: -2px;
    color: #724f00;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 36px;
        padding: 15px 0;
    }
}

.content-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 5%;
    overflow: auto;
    flex: 1; /* Ensure the content takes up available space */
}

article {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: black;
    padding: 50px; 
    overflow: auto;
}

/* Home button styling */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #ffdb88;
}

.home-button {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #724f00;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
}

.home-text, .home-hover-text {
    transition: opacity 0.3s;
    display: block;
    position: absolute;
    line-height: 24px; /* Ensure consistent line height */
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -2px;
    font-style: italic;
    color: #724f00;
    font-size: 24px;
    white-space: nowrap;
}

.home-hover-text {
    opacity: 0;
    visibility: hidden;
}

.home-button:hover .home-text {
    opacity: 0;
    visibility: hidden;
}

.home-button:hover .home-hover-text {
    opacity: 1;
    visibility: visible;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ffdb88;
    position: relative;
    flex-shrink: 0; /* Ensure the footer does not shrink */
}

.footer-text {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #724f00;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px; /* Increase kerning */
}

.footer-text a {
    color: #724f00;
    text-decoration: none;
}

/* Ensure the footer is aligned to the bottom */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1; /* This makes the content section take up available space */
}

footer {
    flex-shrink: 0; /* Ensure the footer does not shrink */
}